{% include 'header.html' ignore missing %}
    <!-- Page Content -->
    <div class="container body-container">
        <div class="row">
            <div class="col-lg-2"></div>
            
            <div class="col-lg-8">
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" style="width: 900px; height: 350px;" src="{{ url_for('static', filename='images/shows/4PwyB0ErucIANzW24Kori71J6gU.jpg') }}" alt="Hunger Games - Mocking Jay">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" style="width: 900px; height: 350px;" src="{{ url_for('static', filename='images/shows/cQvc9N6JiMVKqol3wcYrGshsIdZ.jpg') }}" alt="The Equalizer">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" style="width: 900px; height: 350px;" src="{{ url_for('static', filename='images/shows/AfybH6GbGFw1F9bcETe2yu25mIE.jpg') }}" alt="Den of Thieves">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="row">
                    {% for movie_show in movie_shows %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="{{ url_for('static', filename='images/shows/'+movie_show['poster']) }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{{ url_for('showdetails', movie_id=movie_show['id']) }}">{{ movie_show['name']}}</a>
                                </h4>
                                <h6 class="text-muted">{{movie_show['genre']}}</h6>
                                <p class="card-text">{{ movie_show['plot'] }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                        <a href="{{ url_for('showdetails', movie_id=movie_show['id']) }}">{{ movie_show['shows']|length|string + ' shows'}} &#187;</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-8 -->

            <div class="col-lg-2"></div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% include 'footer.html' ignore missing %}
