{% include 'header.html' ignore missing %}
    <!-- Page Content -->
    <div class="container body-container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="my-4">Booking Success</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                Please download your ticket from <a target="_blank" href="{{ url_for('static', filename='downloads/tickets/') }}{{ ticket }}">here</a>.
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% include 'footer.html' ignore missing %}
