{% include 'header.html' ignore missing %}
    <!-- Page Content -->
    <div class="container body-container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="my-4">Cart</h1>
                <h6>Please provide your payment information</h6>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-8">
                <form class="js__form_payment" method="POST" action="/process_payment">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Card owner name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="card_owner" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Card number</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="card_number" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Validity</label>
                        <div class="col-sm-5">
                            <select class="custom-select" name="validity_month" style="width: 70px;">
                                {% for month in range(1, 13) %}
                                <option value="{{month}}">{{month}}</option>
                                {% endfor %}
                            </select>

                            <select class="custom-select" name="validity_year" style="width: 80px;">
                                {% for year in range(2018, 2029) %}
                                <option value="{{year}}">{{year}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">CVC Code</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="cvc_code" value="" style="width: 100px;">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="hidden" name="movie_id" value="{{ movie_id }}" />
                            <input type="hidden" name="show_day" value="{{ show_day }}" />
                            <input type="hidden" name="show_time" value="{{ show_time }}" />
                            <input type="hidden" name="theater" value="{{ theater }}" />
                            <input type="hidden" name="price" value="{{ price }}" />
                            <input type="hidden" name="total_price" value="{{ total_price }}" />
                            <input type="hidden" name="booked_seats" value="{{ booked_seats }}" />
                            <button type="submit" class="btn btn-dark js__button_pay" disabled="disabled">Finalize your booking</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.col-lg-8 -->

            <div class='col-lg-4'>
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{{ url_for('static', filename='images/shows/'+movie_show['poster']) }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">{{ movie_show['name'] }}</h4>
                        <h6 class="text-muted">{{ movie_show['genre'] }}</h6>
                        <h6 class="text-muted">{{ show_day }} {{ show_time }}</h6>
                        <h6 class="text-muted">{{ theater }}</h6>
                        <h6 class="text-muted">{{ total_price }} EUR</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% include 'footer.html' ignore missing %}
