{% include 'header.html' ignore missing %}    
    <!-- Page Content -->
    <div class="container body-container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="my-4">Seat plan</h1>
                <h6>Please select your seats.</h6>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div style="display: flex; flex-direction: column; align-items: center; min-height: 360px;">
                            <div style="display: flex; flex: 0.9;">
                                <div style="display: block; min-width: 550px; margin-top: 30px;">
                                {% for seat_row in seatplan %}
                                    {% set row_index = loop.index0 %}
                                    <div style="float: left; width: 50px;">{{ loop.index }} </div>
                                    <div>
                                    {% for seat in seat_row %}
                                        {% set seat_index = loop.index0 %}
                                        {% if seat == '.' %}
                                        <div style="float: left; width: 20px; margin-left: 3px; margin-bottom: 3px;">&nbsp;</div>
                                        {% elif seat == 'x' %}
                                        <div style="float: left; width: 20px; margin-left: 3px; margin-bottom: 3px;"><input type="checkbox" class="js__seat_selection_check" data-row_index="{{ row_index }}" data-seat_index="{{ seat_index }}" disabled="disabled" /></div>
                                        {% else %}
                                        <div style="float: left; width: 20px; margin-left: 3px; margin-bottom: 3px;"><input type="checkbox" class="js__seat_selection_check" data-row_index="{{ row_index }}" data-seat_index="{{ seat_index }}" /></div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                    <div style="clear: both;"></div>
                                {% endfor %}
                            </div>
                            </div>
                            <div style="display: flex; flex: 0.1; width: 100%;">
                                <div style="display: block; width: 100%;">
                                    <h6 style="float: left;">Total price: <span class="js__total_price" data-total_price="0.0">0.0 EUR</span></h6>
                                    <form style="float: right;" class="js__book_form" method="POST" action="/payment" style="float: right;">
                                        <input type="hidden" name="movie_id" value="{{ movie_id }}" />
                                        <input type="hidden" name="price" value="{{ price }}" />
                                        <input type="hidden" name="show_day" value="{{ show_day }}" />
                                        <input type="hidden" name="show_time" value="{{ show_time }}" />
                                        <input type="hidden" name="theater" value="{{ theater }}" />
                                        <input type="hidden" name="total_price" value="0.0" />
                                        <input type="hidden" name="booked_seats" value="" />
                                        <button type="submit" class="btn btn-dark js__book_button" disabled="disabled">Book</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <!-- /.col-lg-8 -->

            <div class='col-lg-4'>
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{{ url_for('static', filename='images/shows/'+movie_show['poster']) }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">{{ movie_show['name'] }}</h4>
                        <h6 class="text-muted">{{ movie_show['genre'] }}</h6>
                        <h6 class="text-muted">{{ show_day }} {{ show_time }}</h6>
                        <h6 class="text-muted">{{ theater }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% include 'footer.html' ignore missing %}
