{% include 'header.html' ignore missing %}    
    <!-- Page Content -->
    <div class="container body-container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="my-4">Movie shows</h1>
                <div class="row">
                    <div class="col-lg-6">
                        <img width="100%" src="{{ url_for('static', filename='images/shows/'+movie_show['poster']) }}" alt="">
                        <h4 class="card-title">
                            <a href="{{ url_for('showdetails', movie_id=movie_show['id']) }}">{{ movie_show['name']}}</a>
                        </h4>
                        <h6 class="text-muted">{{movie_show['genre']}}</h6>
                        <p class="card-text">{{ movie_show['plot'] }}</p>
                    </div>
                    <div class="col-lg-6">
                        {% for day, shows in movie_show['shows'].items() %}
                        <div style="float: left; margin: 10px; padding: 20px; background-color: #B2BBB8; border-radius: 3px;">
                        <h5>{{ day }}</h5>
                            {% for show in shows %}
                            <h6><a href="{{ url_for('seatplan', movie_id=movie_show['id'], show_day=day, show_time=show['time'], theater=show['theater']) }}">{{ show['time'] }}</a></h6>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% include 'footer.html' ignore missing %}
