body {
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.nav {
    display: flex;
    flex: 0.1;
}

.body-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
}

footer {
    display: flex;
    flex: 0.1;
}

.navbar > .container {
    align-items: flex-start;
}

.row-book-action {
    align-items: flex-end;
    padding: 10px;
}

.seatplan_checkbox_container {
    float: left; 
    padding: 3px;
}
